/*

1. Component base
2. Page base

1. 
 */

body {
    background: url('../img/bg3.jpg') center;
    position: relative;
    height:1300px;
    margin-bottom: 0;

}

#wrapper {
    height: 1300px;
}

.wrapper-head {
    background: black url("../img/head.jpg") center no-repeat;
    margin: 0 auto;
    width: 908px;
    height: 178px;
    margin-top: 39px;
    margin-bottom: 0px;
    box-shadow: -2px 0 20px 1px #7f7e7f, 0 -2px 20px 1px #7f7e7f, 2px 0 20px 1px #7f7e7f;
    border-bottom: solid 1px #ff0000;
    position: relative;
}

.wrapper-head img {
    float: right;
    position: relative;
}

.wrapper-nav {
    background: url("../img/nav.jpg") center no-repeat;
    width: 1009px;
    height: 83px;
    margin: 0 auto;
    margin-top: 0px;
    -ms-transform: translate(0px, -33px);
    /* IE 9 */
    -webkit-transform: translate(0px, -33px);
    /* Safari */
    transform: translate(0px, -33px);
    /* Standard syntax */
    margin-bottom: 0px;
    color: #281d04;
}

.wrapper-nav li {
    float: left;
    display: inline-block;
    line-height: 83px;
    margin-left: 100px;
    -ms-transform: translate(-55px, -0px);
    /* IE 9 */
    -webkit-transform: translate(-55px, -0px);
    /* Safari */
    transform: translate(-55px, -0px);
    /* Standard syntax */
}

.wrapper-nav li:nth-child(2) {
    -ms-transform: translate(-59px, -0px);
    /* IE 9 */
    -webkit-transform: translate(-59px, -0px);
    /* Safari */
    transform: translate(-59px, -0px);
    /* Standard syntax */
}

.wrapper-nav li:nth-child(4) {
    -ms-transform: translate(-44px, -0px);
    /* IE 9 */
    -webkit-transform: translate(-44px, -0px);
    /* Safari */
    transform: translate(-44px, -0px);
    /* Standard syntax */
}

.wrapper-nav li:nth-child(5) {
    -ms-transform: translate(-43px, -0px);
    /* IE 9 */
    -webkit-transform: translate(-43px, -0px);
    /* Safari */
    transform: translate(-43px, -0px);
    /* Standard syntax */
}

.printloop {
    -ms-transform: translate(240px, 70px);
    /* IE 9 */
    -webkit-transform: translate(240px, 70px);
    /* Safari */
    transform: translate(240px, 70px);
    /* Standard syntax */
    width: 700px;
    background-color: red;
}

.printloop>div {
    display: none;
    margin-left: 30px;
    float: left;
}


/* each print */

a {
    text-decoration: none;
    font-weight: bold;
    color: #281d04;
}

a:hover {
    color: #358eba;
    text-decoration: none;
}

#wrapper-banner {
    width: 909px;
    margin: 0 auto;
    margin-top: 0px;
    -ms-transform: translate(0, -46px);
    /* IE 9 */
    -webkit-transform: translate(0px, -46px);
    /* Safari */
    transform: translate(0px, -46px);
    /* Standard syntax */
    border: 1px solid #ffffff;
    border-top-color: #e99f2e;
    height: 443px;
    overflow: hidden;
    box-shadow: -20px 0 20px -15px #7f7e7f, 20px 0 20px -15px #7f7e7f;
}

#wrapper-banner img {
    clear: both;
    display: block;
    margin: auto;
    width: 908px;
    height: 441px;
    overflow: hidden;
}

#wrapper-banner div {
    clear: both;
    display: block;
    margin: auto;
    width: 908px;
    height: 441px;
    overflow: hidden;
    position: absolute;
}


/* cloud */

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}


/*creat clouds*/

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}


/*animate*/

.x1,
.x6 {
    -webkit-animation: moveclouds 3s linear infinite;
    -moz-animation: moveclouds 3s linear infinite;
    -o-animation: moveclouds 3s linear infinite;
}


/*variable speed, opacity, and position of clouds for realistic effect*/

.x2,
.x7 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    /*opacity proportional to the size*/
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 6s linear infinite;
    -moz-animation: moveclouds 6s linear infinite;
    -o-animation: moveclouds 6s linear infinite;
}

.x3,
.x8 {
    left: -250px;
    top: -300px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 4s linear infinite;
    -moz-animation: moveclouds 4s linear infinite;
    -o-animation: moveclouds 4s linear infinite;
}

.x4,
.x9 {
    left: 470px;
    top: -50px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 6s linear infinite;
    -moz-animation: moveclouds 6s linear infinite;
    -o-animation: moveclouds 6s linear infinite;
}

.x5,
.x10 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 7s linear infinite;
    -moz-animation: moveclouds 7s linear infinite;
    -o-animation: moveclouds 7s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1500px;
    }
    100% {
        margin-left: -1500px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1500px;
    }
    100% {
        margin-left: -1500px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1500px;
    }
    100% {
        margin-left: -1500px;
    }
}


/* change the position of the clouds */

.x1 {
    -ms-transform: translate(0px, -2000px);
    /* IE 9 */
    -webkit-transform: translate(0px, -2000px);
    /* Safari */
    transform: translate(0px, -2000px);
    /* Standard syntax */
}

.x2 {
    -ms-transform: translate(0px, -590px);
    /* IE 9 */
    -webkit-transform: translate(0px, -590px);
    /* Safari */
    transform: translate(0px, -590px);
    /* Standard syntax */
}

.x3 {
    -ms-transform: translate(0px, -200px);
    /* IE 9 */
    -webkit-transform: translate(0px, -200px);
    /* Safari */
    transform: translate(0px, -200px);
    /* Standard syntax */
}

.cloud {
    -ms-transform: translate(0px, -1100px);
    /* IE 9 */
    -webkit-transform: translate(0px, -1100px);
    /* Safari */
    transform: translate(0px, -1100px);
    /* Standard syntax */
}

.x6,
.x7,
.x8,
.x9,
.x10 {
    -ms-transform: translate(0px, -900px);
    /* IE 9 */
    -webkit-transform: translate(0px, -900px);
    /* Safari */
    transform: translate(0px, -900px);
    /* Standard syntax */
}

.wrapper-bottom {
    height: 740px;
    width: 909px;
    background-color: #ffffff;
    margin: auto 0;
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    -ms-transform: translate(0px, -67px);
    /* IE 9 */
    -webkit-transform: translate(0px, -67px);
    /* Safari */
    transform: translate(0px, -67px);
    /* Standard syntax */
    border: solid #ffffff 1px;
    box-shadow: -20px 0 20px -15px #7f7e7f, 20px 0 20px -15px #7f7e7f, 0 20px 20px -15px #7f7e7f;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.wrapper-bottom-Welcome {
    background-color: #e1e1e1;
    height: 681px;
    width: 322px;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 17px;
    margin-top: 29px;
}

.wrapper-bottom-promotion {
    background-color: #cce5f6;
    height: 665px;
    width: 260px;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 17px;
    margin-top: 29px;
}

.wrapper-bottom-product {
    background-color: #fff894;
    height: 645px;
    width: 260px;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 17px;
    margin-top: 29px;
}

.wrapper-bottom h2 span {
    color: #0187b2
}

.wrapper-bottom a {
    color: #0187b2;
}

.wrapper-bottom a span {
    text-decoration: underline
}

.wrapper-bottom p {
    line-height: 25px;
    padding-bottom: 20px;
    text-align: left;
}

.wrapper-bottom h2 {
    color: #000000;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 15px
}

.wrapper-bottom h2 span {
    color: #0187b2
}

.wrapper-bottom a {
    color: #0187b2;
}

.wrapper-bottom a span {
    text-decoration: underline
}

.wrapper-bottom p {
    line-height: 25px;
    padding-bottom: 20px;
}

footer {
    width: 870px;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -ms-transform: translate(20px, -65px);
    /* IE 9 */
    -webkit-transform: translate(20px, -65px);
    /* Safari */
    transform: translate(20px, -65px);
    /* Standard syntax */
    overflow: hidden;
}

footer div {
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.wrapper-footer-social {
    width: 300px;
    margin-left: 30px;
    -ms-transform: translate(25px, -57px);
    /* IE 9 */
    -webkit-transform: translate(25px, -57px);
    /* Safari */
    transform: translate(25px, -57px);
    /* Standard syntax */
    float:right;
   

}

.wrapper-footer-copyright {}

.wrapper-footer-social img {
    vertical-align: middle;
}

.groomingmain,
#aboutusmain,
.location,
.contactus {
    width: 909px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
    -ms-transform: translate(0, -46px);
    /* IE 9 */
    -webkit-transform: translate(0px, -46px);
    /* Safari */
    transform: translate(0px, -46px);
    /* Standard syntax */
    border: 1px solid #ffffff;
    border-top-color: #e99f2e;
  height: 100%;
    overflow: hidden;
    box-shadow: -20px 0 20px -15px #7f7e7f, 20px 0 20px -15px #7f7e7f;
    background-color: #ffffff;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    color: #343434;
    position: relative;
}

.groomingmain article {
    margin: 0;
    padding: 0;
    margin-left: 25px;
}

.groomingmain article img {
    width: 425px;
    float: right;
    margin-right: 22px;
}

.groomingmain article h1,
legend {
    font-family: 'Satisfy', cursive;
}

.groomingmain article h1 span,
legend {
    color: #3187b0
}

form {
    width: 20%;
    height: 420px;
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border-radius: 5px;
    width: 300px;
}

#submit {
    width: 100px;
    margin-top: 10px;
    background-color: #5190b2;
}

video {
    float: right;
    margin-right: 25px;
    border-radius: 15px;
    -ms-transform: translate(0px, 70px);
    /* IE 9 */
    -webkit-transform: translate(0px, 70px);
    /* Safari */
    transform: translate(0px, 70px);
    /* Standard syntax */
}

#aboutusmain article {
    margin-left: 20px;
}

.iframe {
    text-align: center;
    margin-top: 30px;
}

.hourss {
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
}

.hourss span {
    font-size: 20px;
    color: #2f80a4;
}

.contenteditable {
    background-color: #2f80a4;
    text-align: center;
}

.contactus>form,
fieldset {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 150px
}

.contactus input {
    margin-bottom: 20px;
}

.turtle img {
    width: 130px;
    border-radius: 50px;
}


/* turtle animate */

.turtle {
    margin-top: 287px;
    width: 130px;
    -webkit-animation: moveturtle 16s linear infinite;
    -moz-animation: moveturtle 16s linear infinite;
    -o-animation: moveturtle 16s linear infinite;
}

@-webkit-keyframes moveturtle {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 950px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 950px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 950px;
    }
}

.turtle img:hover {
    -webkit-transform: rotate(130deg);
    /* Safari */
    transform: rotateY(130deg);
}

.contactpic {
    position: absolute;
    margin-top: 50px;
}

.contactpic:hover {
    webkit-animation: dog 0.3s linear infinite;
    -moz-animation: dog 0.3s linear infinite;
    animation: dog 0.3s linear infinite;
}

@-moz-keyframes dog {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes dog {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes dog {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}




.comments{width:300px;}
.contactus .contactbutton{padding:8px;}

legend{font-size:30px;}


label.error{color: #c03e32;
font-size: 14px;
font-family: verdana;}

.groomingmain form{height:100%;overflow:hidden;width:30%;}
